#objave{
    text-align: center;
}

#autor{
    font-weight: bold;
}

#objava{
    margin-left:10px;
}

#container{
    width: 40%;
    height: 200px;
    overflow: scroll;
    margin:0 auto;
    border: 2px solid black;
}

#btn{
    position: relative;
    width: 100%;
    height:60px;
}

#delete{
    position:absolute;
    bottom: 0px;
    left:5px;
}

#edit{
    position:absolute;
    bottom: 0px;
    left:70px; 
}